@inherits LayoutComponentBase

<header>
    <nav>
        <a href="/scrollfeed">Sydsvenskan</a>
        <a href="/news">Sydsvenskan Single</a>
        <a href="/scrollfeedworld">World</a>
        <a href="/newsworld">World Single</a>
        <a href="/scrollfeedbusiness">Business</a>
        <a href="/newsbusiness">Business Single</a>
    </nav>
</header>


@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
