@inherits LayoutComponentBase

<header>
    <nav>
        <a href="/news">Slides</a>
        <a href="/scrollfeed">Scroll</a>
    </nav>
</header>


@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
