@page "/article/{title}"
@using BlazorRSS.Services
@inject NavigationManager Navigation



<div class="container">
    <div class="article-single">
        <div class="article-container">
            
            <div class="article-header">
                <h1>@SingleArticle?.Title</h1>
            </div>

            <div class="article-image">
                <img src="@SingleArticle?.ImageUrl" alt="@SingleArticle?.Title" />
            </div>

            <div class="article-content">
                @if (!string.IsNullOrEmpty(SingleArticle?.Description))
                {
                    <p>@SingleArticle?.Description</p>
                }
                else
                {
                    <p>@SingleArticle?.Summary</p>
                }
                <p class="article-date">Publicerad: @SingleArticle?.PublishDate.ToString("MMMM dd, yyyy")</p>
            </div>

            <button @onclick="GoBack" class="back-button">Tillbaka</button>
        </div>
    </div>
    
</div>



@code {
    [Parameter] public string Title { get; set; }

    private RssFeedItem SingleArticle;
    private List<RssFeedItem> newsItems;

    [Inject] private RssFeedService RssFeedService { get; set; }

    protected override async Task OnInitializedAsync()
    {

        newsItems = await RssFeedService.GetRssFeedAsync("feedUrl");


        string decodedTitle = Uri.UnescapeDataString(Title);
        SingleArticle = newsItems.FirstOrDefault(n => n.Title == decodedTitle);
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/scrollfeed");
    }
}